services:
  postgres:
    image: postgres:15
    container_name: starsoft-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: starsoft
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: starsoft-redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--notify-keyspace-events", "Ex"]

  api:
    build: .
    expose:
      - "3000"
    environment:
      - REDIS_HOST=redis
      - DB_HOST=postgres
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  postgres_data: